.head{
    display: flex;
    width: 80vw;
    margin: auto;
}
.logo{
    padding: 0px 10px;
    margin: 0px 20px;
}
.SearchBar{
    padding: 5px 10px;
    margin: 5px 20px;
}
.LoginAndSignUp{
    padding: 5px 10px;
    margin: 5px 20px;
}
.adderess{
    width: 75vw;
    margin: auto;
    padding: 10px;
    font-size: smaller;
}
#NavBar{
    display: flex;
    padding: 10px;
}
a{
    text-decoration: none;
}
#NavBar ul li{
    list-style: none;
    display: flex;
}